.logo {
  width: 200px;
}

.list-father {
  margin-top: 50px;
  border-radius: 20px;
}

.list {
  background-color: rgb(228, 228, 228);
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid grey;
  text-align: start;
}

.cross {
  float: right;
  cursor: pointer;
}

.cross:hover {
  color: red;
  font-weight: 800;
}